---
interface Props {
  name: string;
  type: string;
  optional?: boolean;
  defaultValue?: string;
}
const { name, type, optional, defaultValue } = Astro.props;
---

<li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
  <dl class="m-0 flex flex-wrap items-end gap-x-3 gap-y-2">
    <dt class="sr-only">Name</dt>
    <dd>
      <code>{name}</code>
    </dd>
    <dt class="sr-only">Type</dt>
    <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">
      <span class="text-zinc-300 dark:text-zinc-600">:</span>{type}{
        optional ? (
          <span class="text-zinc-400 dark:text-zinc-500">?</span>
        ) : null
      }
    </dd>
    {
      defaultValue ? (
        <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">
          <span class="text-zinc-300 dark:text-zinc-600">=</span>
          {defaultValue}
        </dd>
      ) : null
    }
    <dt class="sr-only">Description</dt>
    <dd class="w-full flex-none [&>:first-child]:mt-0 [&>:last-child]:mb-0">
      <slot />
    </dd>
  </dl>
</li>
